openapi: 3.0.3
info:
  title: Phone Number Checker API
  description: Bulk asynchronous file-based API used to validate phone numbers and evaluate activity-related signals.
  version: "1.0.0"
  contact:
    name: CheckNumber
    url: https://docs.checknumber.ai/phone-number-validation
  license:
    name: MIT
servers:
  - url: https://api.checknumber.ai
security:
  - ApiKeyAuth: []
paths:
  /v1/tasks:
    post:
      summary: Submit a bulk Phone verification task
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, task_type]
              properties:
                file:
                  type: string
                  format: binary
                  description: Text file containing one phone number or email address per line, according to task_type.
                task_type:
                  type: string
                  enum: [phoneCheck, active_check, high_value_users]
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          description: Invalid parameters or file format
        "500":
          description: Internal server error
  /v1/gettasks:
    post:
      summary: Check task status
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [task_id]
              properties:
                task_id:
                  type: string
      responses:
        "200":
          description: Current task state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          description: Invalid task ID
        "500":
          description: Internal server error
  /v1/balance:
    get:
      summary: Get account balance
      responses:
        "200":
          description: Current balance
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    Task:
      type: object
      properties:
        task_id: { type: string }
        user_id: { type: string }
        status:
          type: string
          enum: [pending, processing, exported, failed]
        total: { type: integer }
        success: { type: integer }
        failure: { type: integer }
        result_url: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
